@tailwind base;
@tailwind components;
@tailwind utilities;

.noScrollbar::-webkit-scrollbar {
  width: 0px;
}

.maskAvatar {
  /* -webkit-mask-image: url("/images/Mask.svg"); */
  /* mask-image: url("/images/Mask.svg"); */
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: #e3e5e9;
}

body::-webkit-scrollbar-thumb {
  background-color: #5d6069;
  border-radius: 5rem;
}
.swiper-pagination {
  position: absolute;
  bottom: 3px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: fit-content !important;
  display: flex;
  align-items: center;
  gap: 2px;
}
.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.8;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
}

.swiper-pagination-bullet-active {
  background-color: #0356fc !important;
}
